.App {
  width: 100vw;
  height: 100vh;
  min-height:100%;
  background-image: linear-gradient(yellow, white);
}
.heading {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.flex {
   display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  min-height: 300px;
  padding: 10px;
  background-image: linear-gradient(yellow, gold);
  background-size: cover;
}

.task_container {
  margin: 10px;
  cursor: pointer;
}

.task {
  flex-grow: 1;
  margin-left: 10px;
}